<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/page_template :: layout(~{::headers}, ~{::contents})}">
	<head>
		<title>Legendary Game Stats</title>
		<th:block th:fragment="headers">
			<!-- Extra headers -->
		</th:block>
	</head>
	<body>
		<div th:fragment=="contents">
			<dl>
				<p><dt>I want to log plays that include cards not available in the menu.</dt>
				<dd>Sets are getting added to the system in release order. The rate of sets getting added should increase as the rules engine gets more features added.</dd></p>

				<dt>Are the stats accurate? A hero/mastermind win rate does not seem right.</dt>
				<dd>The win rates are only as good as the data entered. If there is a bias in the logged plays, it will throw off the win percentage. In other words, if a hero or villain tends to be played in easy or hard setups, it will throw off the win rate.</dd>

				<dt>The system is not letting me log a play because it does not exactly conform to the cards as written.</dt>
				<dd>In order to accurately gauge win rates, it is important that all plays are done as closely to the rules as written as possible.</dd>

				<dt>Is there anything I can do to help the project?</dt>
				<dd>The site is <a href="https://github.com/kontaras/LegendaryStats">open source</a> and I will gladly accept pull requests. For specific needs, take a look at <a href="https://github.com/kontaras/LegendaryStats/discussions/216">the GitHub discussion forum.</a></dd>
			</dl>
		</div>
	</body>
</html>
