<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/page_template :: layout(~{::headers}, ~{::contents})}">
	<head>
		<title>Legendary Game Stats</title>
		<th:block th:fragment="headers">
			<!-- Extra headers -->
		</th:block>
	</head>
	<body>
		<div th:fragment=="contents">

			<th:block
				th:replace="fragments/tables :: tableTemple (name = 'Heroes', id = 'heroes', rows = ${heroes})" />
	
			<th:block
				th:replace="fragments/tables :: tableTemple (name = 'Villains', id = 'villains', rows = ${villains})" />
	
			<th:block
				th:replace="fragments/tables :: tableTemple (name = 'Masterminds', id = 'masterminds', rows = ${masterminds})" />
				
			<th:block
				th:replace="fragments/tables :: tableTemple (name = 'Henchmen', id = 'henchmen', rows = ${henchmen})" />
				
			<th:block
				th:replace="fragments/tables :: tableTemple (name = 'Schemes', id = 'schemes', rows = ${schemes})" />
		
		</div>
	</body>
</html>
