<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/page_template :: layout(~{::headers}, ~{::contents})}">
	<head>
		<title>Legendary Game Stats</title>
		<th:block th:fragment="headers">
			<!-- Extra headers -->
		</th:block>
	</head>
	<body>
		<div th:fragment=="contents">
			<ul th:if="${!errors.isEmpty()}" class="errors">
				<li th:each="error:${errors}" th:text="${error}">Error</li>
			</ul>
			<form th:action="@{/register}" method="post">
				<div><label for="username">User Name : </label><input type="text" name="username" th:value="${user}" /></div>
				<div><label for="password">Password: </label><input type="password" name="password"/></div>
				<div><label for="email">Email (Optional, only used for account recovery): </label>
					<input type="text" name="email" th:value="${email}" /></div>
				<div><input type="submit" value="Register"/></div>
			</form>
		
		</div>
	</body>
</html>