<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout (extra_head, content)">
	<head>
		<link rel="stylesheet" th:href="@{/styles/normalize.css}"
			href="https://necolas.github.io/normalize.css/latest/normalize.css">
		 <link rel="stylesheet" th:href="@{/styles/style.css}"
			href="../static/styles/style.css">
		<title>Legendary Game Stats</title>
		<script th:src="@{/scripts/jquery.min.js}" type="text/javascript"></script>
		<script th:src="@{/scripts/utils.js}" type="text/javascript"></script>
		<script type="text/javascript">
			jQuery(document).ready(function() {
				setNames("dxp");
				setNames("mcu");
				setNames("marvel");
				
				const contents = jQuery("#contents");
				
				contents.prepend(
						`<div id="name_picker"><h3>Displayed set names</h3>
							<form>
							<input type="radio" name="dsplay_name" id="marvel" value="marvel" onchange="setNames('marvel');"/>
							<label for="marvel"><span class="marvel">Comic art</span></label><br />
							<input type="radio" name="dsplay_name" id="mcu" value="mcu" onchange="setNames('mcu');" />
							<label for="mcu"><span class="mcu">Marvel Movie Stills</span></label><br />
							<input type="radio" name="dsplay_name" id="dxp" value="dxp" onchange="setNames('dxp');" />
							<label for="dxp"><span class="dxp">DXP Apps</span></label></form>
						</div>`);
				
				contents.css("padding-right", "200px");
			});
		</script>

		<th:block th:replace="${extra_head}" />
	</head>
	<body>
		<div id="header"><h1 style="display: inline">Legendary Stats</h1>
		<p id="links">
			<a th:href="@{/}">Home</a>
			<a th:href="@{/faq}">FAQ</a>
			-
			Plays: <a th:href="@{/play}">New</a>
		</p>
		</div>
		<div id="contents" th:insert="${content}">
			<!-- Contents goes here -->
		</div>
	</body>
</html>