<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://necolas.github.io/normalize.css/latest/normalize.css">
<title>Legendary Game Stats</title>
<style type="text/css">
table, th, td {
	border: 1px solid black;
	text-align: center;
}

.marvel {
	color: navy;
}

.mcu {
	color: olive;
}

.dxp {
	color: fuchsia;
}
</style>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"
	integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g=="
	crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/scripts/utils.js" type="text/javascript"></script>
<script type="text/javascript">
jQuery(document).ready(function() {
	const tables = [jQuery("table#heroes"), jQuery("table#villains")];
	for (const table of tables) {
		setNames(table, "dxp");
		setNames(table, "mcu");
		setNames(table, "marvel");
	}
});
</script>
</head>
<body>
	<table id="heroes">
		<caption>Hero Win Rates</caption>
		<thead>
			<tr>
				<th scope="col">Hero</th>
				<th scope="col">Win Rate</th>
				<th scope="col">Loss Rate</th>
				<th scope="col">Plays Logged</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="row:${heroes.entrySet()}">
				<td th:utext="${@viewHelper.getDisplayName(row.key)}" class="name"/>
				<td th:text="${#numbers.formatDecimal((row.value.won * 100.0 / row.value.played), 2, 0)} + '%'" />
				<td th:text="${#numbers.formatDecimal(row.value.lost * 100.0 / row.value.played, 2, 0)} + '%'" />
				<td th:text="${row.value.played}" />
			</tr>
		</tbody>
	</table>
	
	<table id="villains">
		<caption>Villain Win Rates</caption>
		<thead>
			<tr>
				<th scope="col">Hero</th>
				<th scope="col">Win Rate</th>
				<th scope="col">Loss Rate</th>
				<th scope="col">Plays Logged</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="row:${villains.entrySet()}">
				<td th:utext="${@viewHelper.getDisplayName(row.key)}" class="name"/>
				<td th:text="${#numbers.formatDecimal((row.value.won * 100.0 / row.value.played), 2, 0)} + '%'" />
				<td th:text="${#numbers.formatDecimal(row.value.lost * 100.0 / row.value.played, 2, 0)} + '%'" />
				<td th:text="${row.value.played}" />
			</tr>
		</tbody>
	</table>
</body>
</html>