name: Prod deploy
on:
  workflow_dispatch:
    # Inputs the workflow accepts.
    inputs:
      label:
        description: 'Label to deploy'
        default: 'latest'
        required: true
env:
  DEPLOYMENT_NAME: legendary-stats
  REGISTRY: ghcr.io
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Log in to the Container registry
      uses: docker/login-action@v2.1.0
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Setup gcloud CLI
      uses: google-github-actions/setup-gcloud@v0.6.0
      with:
        service_account_key: ${{ secrets.GKE_SA_KEY }}
        project_id: ${{ secrets.GKE_PROJECT }}
    - run: |-
        gcloud --quiet auth configure-docker
    - uses: google-github-actions/get-gke-credentials@v0.8.1
      with:
        cluster_name: ${{ secrets.GKE_CLUSTER }}
        location: ${{ secrets.GKE_ZONE }}
        credentials: ${{ secrets.GKE_SA_KEY }}
    - name: Deploy
      env:
        VERSION_TO_DEPLOY: ${{ github.event.inputs.label }}
      run: |-
        envsubst < deployment.yaml | kubectl apply -f -
        kubectl rollout status deployment/$DEPLOYMENT_NAME
        kubectl get services -o wide
