name: Azure deploy
on:
  workflow_dispatch:
    # Inputs the workflow accepts.
    inputs:
      label:
        description: 'Label to deploy'
        default: 'latest'
        required: true
env:
  DEPLOYMENT_NAME: legendary-stats
  REGISTRY: ghcr.io
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Log in to the Container registry
      uses: docker/login-action@v2.2.0
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
        
    # Set the target Azure Kubernetes Service (AKS) cluster. 
    - uses: azure/aks-set-context@v3.2
      with:
        creds: '${{ secrets.AZURE_CREDENTIALS }}'
        cluster-name: ${{ secrets.AZURE_CLUSTER_NAME }}
        resource-group: ${{ secrets.AZURE_CLUSTER_RESOURCE_GROUP }}
    
    - run: |-
        #cat deployment.yaml
        envsubst < deployment.yaml > deployment_tmp.yaml
        cat deployment_tmp.yaml
      env:
        VERSION_TO_DEPLOY: ${{ github.event.inputs.label }}
    
    # Deploy app to AKS
    - uses: azure/k8s-deploy@v4.10
      with:
        manifests: |
          deployment_tmp.yaml
        force: true
